/* IMPORTAÇÃO DE FONTES */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Montserrat:wght@500;600;700&display=swap");

/* VARIÁVEIS */
:root {
  --primary-font: "Montserrat", serif;
  --primary-color: #8b7cbe;
  --secondary-color: #3c384a;
  --error-message-color: #db4a4a;
}

/* CSS RESET */
body,
p,
h1,
h2,
h3,
span,
li,
ul {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

/* neutraliza o autofill do Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #fff;
  transition: background-color 9999s ease-in-out 0s;
  box-shadow: 0 0 0 1000px transparent inset;
}

input {
  background: transparent;
  color: #fff;
  width: 100%;
  border: none;
  outline: none;
}

* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 12px; /* Para rolagem vertical */
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background: rgb(223, 223, 223);
}

/* Cor do "thumb" (a parte móvel da barra) */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 10px;
}

/* Quando passa o mouse sobre a barra */
::-webkit-scrollbar-thumb:hover {
  background: #645d7b;
}
