.button {
  border: none;
  align-items: center;
  justify-items: center;
  cursor: pointer;
  box-sizing: border-box;
  background-color: var(--primary-color);
  width: min(50px, 60vw);
  height: min(50px, 60vh);
  border-radius: 25%;
}

.button > svg {
  width: 1rem;
  width: 95%;
  height: 95%;
  color: var(--dark-grey);
}
