.container_avatar {
  max-width: clamp(1rem, 16vw, 80px);
}

.updateAvatar_wrapper * {
  cursor: pointer;
}

.updateAvatar_button:hover {
  background-color: #ffff;
}

.avatar_container {
  position: relative;
}

.avatar_image {
  width: 100%;
  object-fit: contain;
  border-radius: 50%;
}

.camera_icon {
  position: absolute;
  color: var(--dark-grey);
  background-color: #dbdbdb;
  border: 2px solid #ffff;
  border-radius: 50%;
  width: 40%;
  height: auto;
  padding: 4px;
  bottom: -2px;
  right: -2px;
}

.username {
  font-family: var(--primary-font);
  font-size: clamp(1rem, 7vw, 2rem);
  color: var(--dark-grey);
  white-space: nowrap;
  font-weight: 800;
}

/* Dialog Avatar */

.overlay_avatar {
  position: fixed;
  inset: 0;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background: rgba(0, 0, 0, 0.4);
  z-index: 50;
}

.panel_avatar {
  width: 100%;
  max-width: 35rem;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container_avatar_full {
  position: relative;
  width: 100%;
  border: none;
}

.avatar_image_full {
  display: block;
  width: 100%;
  object-fit: contain;
  border-radius: 1%;
}

.button_close_avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8.5%;
  height: auto;
  padding: 1%;
  position: absolute;
  cursor: pointer;
  background-color: var(--primary-color);
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  border-radius: 50%;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
}

.button_close_avatar svg {
  color: white;
  width: 100%;
  height: 100%;
}

/* Dialog Update Avatar */

.overlay_update {
  position: fixed;
  inset: 0;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background: rgba(0, 0, 0, 0.4);
  z-index: 50;
}

.overlay_update * {
  font-family: var(--primary-font);
}

.panel_update {
  width: 100%;
  background-color: #ffff;
  max-width: 52rem;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 40px;
}
