.slotChar {
  width: var(--otp-slot-width, 40px);
  height: var(--otp-slot-height, 40px);
  font-family: var(--primary-font);
  font-weight: 600;
  color: var(--dark-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: var(--otp-slot-font-size, 20px);
  position: relative;
}
