.slotChar {
  width: 40px;
  height: 40px;
  font-family: var(--primary-font);
  font-weight: 600;
  color: var(--dark-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 20px;
  position: relative;
}

@media (max-width: 450px) {
  .slotChar {
    box-sizing: border-box;
    padding: 16px;
    width: 12px;
    height: 20px;
  }
}

@media (max-width: 370px) {
  .slotChar {
    box-sizing: border-box;
    padding: 16px;
    font-size: 20px;
    width: 12px;
    height: 50px;
  }
}
