.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 16px 0;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #9684ed;
  will-change: transform;
}
