.page_wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container_loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: relative;
}

.wrapper_loading {
  display: flex;
  align-items: center;
  justify-content: center;

  width: min(200px, 60vw);
  height: min(200px, 60vw);

  border-radius: 50%;
  padding: 40px;
  box-sizing: border-box;

  background: linear-gradient(
    270deg,
    var(--primary-color),
    #bbb4e5,
    var(--primary-color)
  );
  background-size: 200% 200%;
  animation: gradient_shift 4s linear infinite;
}

@keyframes gradient_shift {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.wrapper_loading > svg {
  color: white;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.container_title {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}

.title_app {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: var(--secondary-color);
}

.title_app > span {
  color: var(--primary-color);
}

@media (max-height: 500px) {
  .title_app {
    display: none;
  }
}
