.form {
  width: 100%;
  display: flex;
  margin-top: 1.5rem;
}

.input {
  font-family: var(--primary-font);
  background-color: #fdfdfd;
  border: 2px solid #bdbdbd;
  border-right: none;
  font-size: 1rem;
  color: var(--dark-grey);
  padding: 10px;
  border-radius: 7px 0 0 7px;
}

.submit_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  aspect-ratio: 1;
  background-color: var(--primary-color);
  padding: 7px;
  border-radius: 0 7px 7px 0;
}

.submit_btn:hover {
  background-color: var(--primary-color-hover);
}

.submit_btn:disabled {
  cursor: unset;
  background-color: var(--cancel-color);
}

.submit_btn svg {
  color: white;
  width: 100%;
  height: auto;
}

.submit_btn:disabled svg {
  color: #f8f8f8;
}

.error_message {
  align-self: flex-start;
  font-style: italic;
  font-family: var(--primary-font);
  font-size: 0.81rem;
  color: var(--error-message-color);
  margin-top: -4px;
  margin-left: 10px;
}
