.main_login {
  background: linear-gradient(100deg, #494359, #0c0c10);
  height: 100%;
  padding: 0 5rem;
  align-items: center;
}

.container_main {
  max-width: 1400px;
  min-height: 100vh;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  margin: 0 auto;
  align-items: center;
}

.container_input {
  display: grid;
  align-items: center;
  width: 100%;
  max-width: 480px;
  padding: 40px;
  height: 100%;
  max-height: 540px;
  border-radius: 12px;
  background: linear-gradient(
    90deg,
    rgba(219, 218, 224, 0.1),
    rgba(151, 149, 163, 0.1)
  );
}

.container_input > div > input {
  margin-bottom: 1.5rem;
}

.container_input > div > button {
  margin-top: 3rem;
  margin-bottom: 0.7rem;
}
