.header {
  box-sizing: border-box;
  max-width: 100vw;
  height: 7rem;
  padding: 32px 2rem;
  padding-bottom: 1rem;
}

.header_container {
  display: flex;
  max-width: 800px;
  justify-self: end;
  gap: 1rem;
  height: 100%;
}

.username {
  align-self: center;
  font-family: var(--primary-font);
  color: white;
  font-weight: 3300;
}

.user_photo {
  max-height: 80%;
  height: auto;
  border-radius: 50%;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.icon {
  width: 10px;
}

.main {
  max-width: 1500px;
  margin: 0 auto;
  padding: 32px 2rem;
  padding-top: 0;
}

.welcome_title {
  font-family: var(--primary-font);
  font-weight: 800;
  font-size: clamp(1rem, 9vw, 3.5rem);
  color: var(--dark-grey);
}

.welcome_title > span {
  color: var(--primary-color);
}

.tasks_section {
  max-width: 90%;
  margin: 0 auto;
  margin-top: 40px;
}

.container_section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 1000px;
}
