.container_loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: relative;
}

.wrapper_loading {
  display: flex;
  align-items: center;
  justify-content: center;

  width: min(200px, 60vw);
  height: min(200px, 60vw);

  border-radius: 50%;
  padding: 40px;
  box-sizing: border-box;

  background-color: var(--primary-color);
}

.wrapper_loading > svg {
  color: white;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.title_app {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: var(--secondary-color);
}

.title_app > span {
  color: var(--primary-color);
}

.container_title {
  align-items: flex-end;
}

@media (max-height: 500px) {
  .title_app {
    display: none;
  }
}
