.footer_container {
  font-family: var(--primary-font);
  font-weight: 400;
  color: black;
  background-color: var(--dark-grey);
  background-image: url("./shape.svg");
  display: flex;
  flex-direction: column;
  gap: 70px;
  margin: 0 auto;
  margin-top: 70px;
  padding: 20px;
  justify-content: center;
}

.footer_phrase {
  text-align: center;
  font-family: var(--quaternary-font);
  color: #bebebe;
}

.icons_container {
  display: flex;
  min-width: 60px;
  gap: 10px;
  align-self: self-end;
}

.icons_container a,
.icons_container > a > svg {
  width: 100%;
  height: auto;
  color: #bebebe;
}
